<%- include('Header.ejs') %>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Constitution</title>
	<link rel="stylesheet" type="text/css" href="css/constitution.css">
	<script src="https://kit.fontawesome.com/8cc56e8b31.js" crossorigin="anonymous"></script>
	<style>
		/* Import Google Fonts */
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	</style>
</head>
<main class="constitution-container">
        
    <!-- Logo -->
    <div class="logo-container">
        <img src="images/mukesa logo.jpg" alt="Organization Logo">
    </div>

    <div class="constitution-content">
        <h1>Constitution</h1>
        <div class="law">
            <div class="law-icon">
                <i class="fas fa-gavel"></i>
            </div>
            <div class="law-text">
                <h2>Article 1: Membership</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium odio quis libero lobortis, vel tincidunt libero laoreet.</p>
            </div>
        </div>
        <div class="law">
            <div class="law-icon">
                <i class="fas fa-balance-scale"></i>
            </div>
            <div class="law-text">
                <h2>Article 2: Rights and Responsibilities</h2>
                <p>Nullam tempus sapien eros, ut ullamcorper risus malesuada vel. Vestibulum quis sapien a ligula vehicula fermentum.</p>
            </div>
        </div>
        <!-- Add more laws as needed -->
    </div>
</main>
<%- include('Footer.ejs') %>

