
<footer>
    <p>©2024 Multimedia University of Kenya Engineering Students Association. All Rights Reserved.</p>
</footer>
<!-- <script src="..src/login.js" type="text/javascript"></script>
<script src="../src/checkbox.js" type="text/javascript"></script>
<script src="../src/database.js" type="text/javascript"></script>
<script src="../src/video.js" type="text/javascript"></script>
<script src="../src/date.js" type="text/javascript"></script>
<script src="../src/chatbox.js" type="text/javascript"></script>
<script src="../src/payment.js" type="text/javascript"></script> -->
</body>

</html>

