<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Logout</title>
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css">
	<script src="https://kit.fontawesome.com/8cc56e8b31.js" crossorigin="anonymous"></script>
	<style>
		/* Import Google Fonts */
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	</style>
</head>