<!-- <!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MULTIMEDIA UNIVERSITY OF KENYA ENGINEERING STUDENTS ASSOCIATION</title>
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css">
	<script src="https://kit.fontawesome.com/8cc56e8b31.js" crossorigin="anonymous"></script>
	<style>
		/* Import Google Fonts */
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	</style>
</head>

<body>
	<header>
		<div class="header-left">
			<img src="/public/images.png/mukesa logo.jpg" alt="Avatar">
		</div>
		<div class="header-right">
			<nav>
				<ul>
					<li><a href="#membership-section"></i>Membership</a></li>
					<li><a href="#upcoming-events"></i>Events</a></li>
					<li><a href="#testimonials"></i>Testimonials</a></li>
					<li><a href="#research-section"></i>Research</a></li>
					<li><a href="#contact-section"></i>Contacts</a></li>

					<div class="dropdown">
						<div class="social-icon">
							<button><i class="fa-solid fa-bars"></i></button>
						</div>
						<div class="dropdown-content">
							<a href="#" onclick="window.location.href='#Sign in';"><i class="fas fa-user"></i>Sign in</a>
							<a href="#" onclick="window.location.href='#about';"><i class="fas fa-user"></i>About</a>
							<a href="#" onclick="window.location.href='#vision';"><i class="fas fa-eye"></i>Vision</a>
							<a href="#" onclick="window.location.href='#administration';"><i class="fas fa-users"></i>Administration</a>
							<a href="#" onclick="window.location.href='#constitution';"><i class="fas fa-file"></i>Constitution</a>
							<a href="#" onclick="window.location.href='/Logout';"><i class="fas fa-sign-out-alt"></i>Logout</a>

							
						</div>
					</div>
				</ul>
				</li>
				</ul>
			</nav>

		</div>
	</header>

	<section class="home-section">
		<div class="home-section-text">
		  <h1>MULTIMEDIA UNIVERSITY OF KENYA ENGINEERING STUDENTS ASSOCIATION</h1>
		  <section class="current-date">
			<p class="time"></p>
			<p class="date"></p>
		  </section>
		</div>
	  </section>
	  

	  <section id="testimonials">
		<h2>Testimonials</h2>
		<div class="testimonials-container">
		<div class="testimonial">
		  <img src="/public/images.png/hackaton.jpg" alt="Testimonial Image">
		  <p>"The MMU Engineering Students Association has given me countless opportunities to showcase my skills and learn from industry professionals. It's a community that I am proud to be a part of."</p>
		  <p>- Japheth Kiplagat, 3rd Year Engineering Student</p>
		</div>
		<div class="testimonial">
		  <img src="/public/images.png/hackaton.jpg" alt="Testimonial Image">
		  <p>"Being a member of MUKESA has not only enhanced my technical knowledge, but also my leadership and teamwork skills. It's a great platform for personal and professional growth."</p>
		  <p>- Malcom X, 2nd Year Engineering Student</p>
		</div>
		<div class="testimonial">
		  <img src="/public/images.png/hackaton.jpg" alt="Testimonial Image">
		  <p>"The events organized by MMUESA are always informative and engaging. They have helped me build a strong network and stay updated with the latest trends in the field of engineering."</p>
		  <p>- Mark Wahogo, 4th Year Engineering Student</p>
		</div>
	</div>
	  </section>
	  

	<section id="upcoming-events">
		<h2>Events</h2>
		<div class="event">
			<div class="event-image">
				<img src="/public/images.png/hackaton.jpg" alt="Upcoming Event Image">
			</div>
			<div class="event-details">
				<h3>MUKESA Innovation Week</h3>
				<p>Our organization is dedicated
					to inspire and mentor innovative our engineering minds towards
					a greater realization in the field of science and engineering. This
					is a meeting place where engineers hungry to make a difference connect!
				</p>
				<button>Register Now</button>
			</div>
		</div>
		<div class="event">
			<div class="event-image">
				<img src="/public/images.png/energy.jpg" alt="Upcoming Event Image">
			</div>
			<div class="event-details">
				<h3>Guest Lecture on Sustainable Energy</h3>
				<p>Join us for an informative talk where industry leaders share their insights
					on the latest trends and the future of engineering.
				</p>
				<button>Register Now</button>
			</div>
		</div>
	</section>
	<section id="research-section">
		<h2 class="section-title">Research</h2>
		<div class=" container-section-columns">
			<div class="research-column">
				<div class="video-window" id="vid1">
					<div class="image-title">Smart Energy Monitoring System</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.</p>
				</div>
				<div class="video-window-overlay"><i class="fas fa-play play-btn-icon"></i>
					<iframe class="iframe" src="//www.youtube.com/embed/FVGvR9qlEc8" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="research-column">
				<div class="video-window" id="vid2">
					<div class="image-title">Autonomous Waste Management Robot</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.</p>
					</div>
					<div class="video-window-overlay"><i class="fas fa-play play-btn-icon"></i>
						<iframe class="iframe" src="//www.youtube.com/embed/kp7PEkG62i8" frameborder="0" allowfullscreen></iframe>
					</div>
			</div>
			<div class="research-column">
				<div class="video-window" id="vid3">
					<div class="image-title">Intelligent Transport System</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.</p>
				</div>
				<div class="video-window-overlay"><i class="fas fa-play play-btn-icon"></i>
					<iframe class="iframe" src="//www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>

	<section id="membership-section">
			<h2>Membership</h2>
			<div class="membership-container">
			
			<div class="membership-details">
				<div class="chat-box">
					<div class="chat">
						<p class="name"></p>
						<p class="message">Hey guys, have you heard about the latest opportunity for engineering
							students at the local robotics company? It's a great chance to gain hands-on experience!</p>
						<p class="time"><span class="current-time"></span></p>
						<p class="email"></p>
					</div>
				</div>
				<form class="comment-form">
					<textarea placeholder="Post your comment or start a conversation"></textarea>
					<button class="submit-btn" type="Post"><i class="fas fa-paper-plane"></i> Post</button>
				</form>
			</div>
			
			<div class="membership-form">
				<h3>Enroll Now</h3>
				<form>
					<div class="preference">
						<label for="name">Name</label>
						<input type="text" id="name" placeholder="Enter your name">
					</div>
					<div class="preference">
						<label for="email">Email</label>
						<input type="email" id="email" placeholder="Enter your email">
					</div>
					<div class="preference">
						<label for="year">Year of Study</label>
						<select id="year">
							<option value="1st year">1st year</option>
							<option value="2nd year">2nd year</option>
							<option value="3rd year">3rd year</option>
							<option value="4th year">4th year</option>
							<option value="postgraduate">Postgraduate</option>
						</select>
					</div>
					<div class="preference">
						<label for="registrationNumber" placeholder>Registration Number</label>
						<input type="registratioNnumber" id="registrationNumber"
							placeholder="Enter your registration Number">
					</div>
					<div class="preference">
						<label for="password" placeholder>Enter your Password</label>
						<input type="password" id="password" placeholder="Enter your password">
					</div>
					<div class="preference">
						<label for="payment" placeholder>Payment method</label>
						<select id="payment">
							<option value="M-PESA">M-PESA</option>
							<option value="ACCOUNT">BANK ACCOUNT</option>
						</select>
					</div>
					<button type="submit">Submit</button>
				</form>
			</div>

			<div class="payment-form">
				<div id="mpesa-details">
					<p>
						<strong>PAYBILL</strong><span>522533</span>
						<strong> ACCOUNT NUMBER:</strong><span class="registration-number">9999444</span>
	
				</div>
				<div id="bank-details">
					<p>
						<strong>ACCOUNT NAME</strong>
						<span>KCB BANK</span>
						<strong>ACCOUNT NUMBER:</strong>
						<span class="registration-number">13E8E389E9E9</span>
	
				</div>
			</div>
		</div>


	</section>
	<section id="contact-section">
		<h2>Contact Us</h2>
		<p>We'd love to hear from you. Contact us for any inquiries or suggestions:</p>
		<form>
			<label for="name">Name</label>
			<input type="text" id="name" placeholder="Enter your name">
			<label for="email">Email</label>
			<input type="email" id="email" placeholder="Enter your email">
			<label for="message">Message</label>
			<textarea id="message" placeholder="Enter your message"></textarea>
		</form>

		<div class="social-media">
			<a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a>
			<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
			<a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
			<a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
			<a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
		</div>

		<button type="submit">Send</button>
	</section>

	<footer>
		<p>©2024 Multimedia University of Kenya Engineering Students Association. All Rights Reserved.</p>
	</footer>
	<script src="..src/login.js" type="text/javascript"></script>
	<script src="../src/checkbox.js" type="text/javascript"></script>
	<script src="../src/database.js" type="text/javascript"></script>
	<script src="../src/video.js" type="text/javascript"></script>
	<script src="../src/date.js" type="text/javascript"></script>
	<script src="../src/chatbox.js" type="text/javascript"></script>
	<script src="../src/payment.js" type="text/javascript"></script>
</body>

</html> -->