<%- include('Header.ejs') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Our Vision</title>
    <link rel="stylesheet" type="text/css" href="css/vision.css">
    <script src="https://kit.fontawesome.com/8cc56e8b31.js" crossorigin="anonymous"></script>
    <style>
        /* Import Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
</head>

<body>
    <main class="vision-container">
        <div class="vision-content">
            <h1>Our Vision</h1>
            <img src="images\—Pngtree—bstract technology circuit design of_3714868.jpg" alt="Vision Image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum faucibus sem eget scelerisque. Proin vehicula libero ut arcu pharetra varius. Mauris eget tincidunt orci. Duis auctor congue arcu, ut feugiat ante congue a. Vivamus auctor metus et ipsum ultricies, eu viverra tortor venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin consectetur lacinia nulla nec ullamcorper. Suspendisse potenti. Integer tempus elit felis, vel venenatis enim faucibus in. Duis ac est aliquet, dapibus mauris eget, lobortis orci. Vivamus bibendum urna sed leo laoreet, id gravida tortor egestas.</p>
        </div>
    </main>

    <%- include('Footer.ejs') %>
</body>

</html>
